<!DOCTYPE html>
<html lang='en' ng-app="app">

<head>

    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/img/manifest.json">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta name="msapplication-config" content="/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Students</title>
    <link rel='stylesheet' href='./lib/bootstrap-3.3.6.min.css'>
    <link rel='stylesheet' href='./lib/bootstrap-theme-3.3.6.min.css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src='./lib/html5shiv-3.7.2.min.js'></script>
      <script src='./lib/respond-1.4.2.min.js'></script>
    <![endif]-->
    <link rel='stylesheet' type='text/css' href='styles.css'>
</head>

<body ng-controller="StudentsListController">
    <div class='container-fluid'>
        <form ng-submit="addStudent()">
        <div class='btn-group' role='group' aria-label='...'>
            <a href='#' data-toggle='tooltip' title='Add New Student' ng-hide="studentAdding" ng-click="studentAdding = true">
                <button type='button' class='btn btn-default' id='addStudentButton'>
                    <span class='glyphicon glyphicon-plus' aria-hidden='true' id='addStudentButtonIcon'></span>
                    
                </button>
            </a>

            <a href='#' data-toggle='tooltip' title='Add New Student' ng-show="studentAdding" ng-click="addStudent()">
                <button type='button' class='btn btn-default'>
                    <span class='glyphicon glyphicon-floppy-save' aria-hidden='true'></span>

                </button>
            </a>
        </div>
        </form>


        <!-- Tile View ------------------------------->
        <div class='row row-eq-height' id='studentGridTiles'>
        </div>
        <!-- Table View ------------------------------->
        <table class='table table-striped table-hover' id='studentTable'>
            <thead>
                <tr>
                    <th class='tableHeading' ng-click="setSort('lname')">
                        Name
                        <span class='sortButton sortButtonAscend' ng-show="sorted('lname', false)">
                            ▲
                        </span>
                        <span class='sortButton sortButtonDescend' ng-show="sorted('lname', true)">
                            ▼
                        </span>
                    </th>
                    <th class='tableHeading' id='dateHeading' ng-click="setSort('startDate')">
                        Start Date
                        <span class='sortButton sortButtonAscend' ng-show="sorted('startDate', false)">
                            ▲
                        </span>
                        <span class='sortButton sortButtonDescend' ng-show="sorted('startDate', true)">
                            ▼
                        </span>
                    </th>
                    <th class='tableHeading' id='addressHeading' ng-click="setSort('street')">
                        Address
                        <span class='sortButton sortButtonAscend' ng-show="sorted('street', false)">
                            ▲
                        </span>
                        <span class='sortButton sortButtonDescend' ng-show="sorted('street', true)">
                            ▼
                        </span>
                    </th>
                    <th class='tableHeading' ng-click="setSort('city')">
                        City
                        <span class='sortButton sortButtonAscend' ng-show="sorted('city', false)">
                            ▲
                        </span>
                        <span class='sortButton sortButtonDescend' ng-show="sorted('city', true)">
                            ▼
                        </span>
                    </th>
                    <th class='tableHeading' ng-click="setSort('state')">
                        State
                        <span class='sortButton sortButtonAscend' ng-show="sorted('state', false)">
                            ▲
                        </span>
                        <span class='sortButton sortButtonDescend' ng-show="sorted('state', true)">
                            ▼
                        </span>
                    </th>
                    <th class='tableHeading' ng-click="setSort('zip')">
                        ZIP
                        <span class='sortButton sortButtonAscend' ng-show="sorted('zip', false)">
                            ▲
                        </span>
                        <span class='sortButton sortButtonDescend' ng-show="sorted('zip', true)">
                            ▼
                        </span>
                    </th>
                    <th class='tableHeading' ng-click="setSort('phone')">
                        Phone
                        <span class='sortButton sortButtonAscend' ng-show="sorted('phone', false)">
                            ▲
                        </span>
                        <span class='sortButton sortButtonDescend' ng-show="sorted('phone', true)">
                            ▼
                        </span>
                    </th>
                    <th class='tableHeading' ng-click="setSort('year')">
                        Year
                        <span class='sortButton sortButtonAscend' ng-show="sorted('year', false)">
                            ▲
                        </span>
                        <span class='sortButton sortButtonDescend' ng-show="sorted('year', true)">
                            ▼
                        </span>
                    </th>
                    <th class='tableHeading' id='deleteHeading'>
                    </th>
                </tr>
            </thead>
            <tbody id='studentTableRows'>
            <tr ng-show="studentAdding">
                <td>
                    <input type="text" ng-model="person.lname" placeholder="Last Name"/>
                    <input type="text" ng-model="person.fname" placeholder="First Name"/>
                </td>
                <td><input type="text" ng-model="person.startDate" placeholder="Start Date"/></td>
                <td><input type="text" ng-model="person.street" placeholder="Address"/></td>
                <td><input type="text" ng-model="person.city" placeholder="City"/></td>
                <td><input type="text" ng-model="person.state" maxlength="2" placeholder="State"/></td>
                <td><input type="number" ng-model="person.zip" placeholder="Zip"/></td>
                <td><input type="tel" ng-model="person.phone" placeholder="Phone"/></td>
                <td><input type="number" ng-model="person.year" placeholder="Year"/></td>
                <td>
                    <a href='#' data-toggle='tooltip' title='Delete'>
                        <span class="glyphicon glyphicon-trash delete-button" aria-hidden="true" ng-click="studentAdding = false"></span>
                    </a>
                </td>
            </tr>
                <tr ng-repeat="student in students | orderBy:sortVal:sortDir:comp track by student.id">
                    <td ng-hide="student.editing" class = "ng-student-name"></td>
                    <td ng-show="student.editing">
                        <input type="text" ng-model="student.fname" placeholder="First Name"/>
                        <input type="text" ng-model="student.lname" placeholder="Last Name"/>
                    </td>
                    <td ng-hide="student.editing" ng-bind="(student.startDate)"></td>
                    <td ng-show="student.editing"><input type="text" ng-model="student.startDate" placeholder="Start Date"/></td>
                    <td ng-hide="student.editing" ng-bind="(student.street)"></td>
                    <td ng-show="student.editing"><input type="text" ng-model="student.street" placeholder="Address"/></td>
                    <td ng-hide="student.editing" ng-bind="(student.city)"></td>
                    <td ng-show="student.editing"><input type="text" ng-model="student.city" placeholder="City"/></td>
                    <td ng-hide="student.editing" ng-bind="(student.state)"></td>
                    <td ng-show="student.editing"><input type="text" ng-model="student.state" maxlength="2" placeholder="State"/></td>
                    <td ng-hide="student.editing" ng-bind="(student.zip)"></td>
                    <td ng-show="student.editing"><input type="number" ng-model="student.zip" placeholder="Zip"/></td>
                    <td ng-hide="student.editing" ng-bind="(student.phone | filterPhone)"></td>
                    <td ng-show="student.editing"><input type="tel" ng-model="student.phone" placeholder="Phone"/></td>
                    <td ng-hide="student.editing" ng-bind="(student.year | filterYear)"></td>
                    <td ng-show="student.editing"><input type="number" ng-model="student.year" placeholder="Year"/></td>
                    <td>
                        <a href='#' data-toggle='tooltip' title='Delete'>
                            <span class="glyphicon glyphicon-trash delete-button" ng-click="removeStudent(student)"></span>
                        </a>

                        <a href='#' data-toggle='tooltip' title='Edit' ng-click="student.editing = true" ng-hide="student.editing">
                            <span class="glyphicon glyphicon-pencil edit-button" aria-hidden="true"></span>
                        </a>

                        <a href='#' data-toggle='tooltip' title='Save' ng-click="saveStudent(student)" ng-show="student.editing">
                            <span class="glyphicon glyphicon-floppy-save done-button" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <br><pre>{{students | json}}</pre>

        <!-- Loading Modal -->
        <div class='modal fade' id='loadingModal' role='dialog'>
            <div class='modal-dialog'>

                <!-- Modal content-->
                <div class='modal-content'>
                    <div class='modal-header'>
                        <button type='button' class='close' data-dismiss='modal'>&times;</button>
                        <h4 class='modal-title'>Loading Data</h4>
                    </div>
                    <div class='modal-body'>
                        <p>Please wait while we load the data from the server.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src='./lib/jquery.min.js'></script>

    <!-- Underscore.js -->
    <script src='./lib/underscore-min-1.8.3.js'></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src='./lib/jquery-2.2.4.min.js'></script>
    <script src='./lib/bootstrap-3.3.6.min.js'></script>

    <script src="./lib/angular.min.js"></script>

    <script src='./lib/angscript.js'></script>

</body>

</html>